/* Place the below in the user CSS section of CustomizeMyBird.  Some of these things may work in a userChrome file, but I'm not sure how well.  Never tried it. */

/*_Optional CSS Begins_*/

/*_Special Folder Icons_*/
/*_I prefer not to use these special folders except for the Inbox Folder.  If you want them all then uncomment this section AND_*/
/*_This section must be placed AFTER the other folderTree css.  At the end of my css below is a good place._*/
/*
.tabmail-tab[type="folder"][SpecialFolder="Sent"] .tab-icon-image, treechildren::-moz-tree-image(folderNameCol, specialFolder-Sent),
.tabmail-tab[type="folder"][SpecialFolder="Drafts"] .tab-icon-image, treechildren::-moz-tree-image(folderNameCol, specialFolder-Drafts),
.tabmail-tab[type="folder"][SpecialFolder="Templates"] .tab-icon-image, treechildren::-moz-tree-image(folderNameCol, specialFolder-Templates),
.tabmail-tab[type="folder"][SpecialFolder="Junk"] .tab-icon-image, treechildren::-moz-tree-image(folderNameCol, specialFolder-Junk),
.tabmail-tab[type="folder"][SpecialFolder="Archive"] .tab-icon-image, treechildren::-moz-tree-image(folderNameCol, specialFolder-Archive),
treechildren::-moz-tree-image(folderNameCol, imapShared-true) {
    opacity: 1 !important;
    background: none !important;
    list-style-image: url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/tb_folder_tb2.png") !important;
}

.tabmail-tab[type="folder"][SpecialFolder="Inbox"] .tab-icon-image, treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox),
.tabmail-tab[type="folder"][SpecialFolder="Outbox"] .tab-icon-image, treechildren::-moz-tree-image(folderNameCol, specialFolder-Outbox),
.tabmail-tab[type="folder"][SpecialFolder="Trash"] .tab-icon-image, treechildren::-moz-tree-image(folderNameCol, specialFolder-Trash) {
    opacity: 1 !important;
    background: none !important;
    list-style-image: url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/tb_folder_tb3.png") !important;
}
/**/

/*_Add this to the bottom of my CSS if you prefer a more blue color option to the Calendar Tab_*/

/*_Change Calendar To More Blue Theme_*/

/*
#calendar-view-box {
    background-image: none !important;
    background-attachment: none !important;
    background-color: #3A97E4 !important;
    color: #FFFFFF !important;
    font-weight: 600 !important;
    text-shadow: none !important;
    border: none !important;
}

#calendar-nav-control {
    background-image: none !important;
    background-attachment: none !important;
    background: rgba(18,104,190,.8)
                  linear-gradient(rgba(170,232,252,.8), rgba(47,141,235,.7) 49%,
                                                      rgba(32,133,234,.6) 51%, rgba(20,114,208,.5)) !important;
    color: #FFFFFF !important;
    font-size: 16px !important;
    font-family: 'Archivo Narrow' !important;
    font-weight: 700 !important;
    border: none !important;
}

#calendar-nav-control .view-header {
    text-shadow: none !important;
    color: #FFFFFF !important;
    font-size: 16px !important;
    font-family: 'Archivo Narrow' !important;
    font-weight: 600 !important;
    border: none !important;
}

#view-tabs #calendar-day-view-button,
#view-tabs #calendar-week-view-button,
#view-tabs #calendar-multiweek-view-button,
#view-tabs #calendar-month-view-button {
    color: #FFFFFF !important;
    font-size: 14px !important;
    font-family: 'Archivo Narrow' !important;
    font-weight: 600 !important;
    border-radius: 6px 6px 0px 0px !important;
}

#view-tabs #calendar-day-view-button[selected="true"],
#view-tabs #calendar-week-view-button[selected="true"],
#view-tabs #calendar-multiweek-view-button[selected="true"],
#view-tabs #calendar-month-view-button[selected="true"] {
    background-color: #FFFFFF !important;
    color: #12298E !important;
    font-weight: 700 !important;
}

.calendar-time-bar-box-odd,
.calendar-time-bar-box-even {
    background-image: none !important;
    background-attachment: none !important;
    background: rgba(18,104,190,.8)
                  linear-gradient(rgba(170,232,252,.8), rgba(47,141,235,.7) 49%,
                                                      rgba(32,133,234,.6) 51%, rgba(20,114,208,.5)) !important;
    background-color: #3A97E4 !important;
    font-size: 14px !important;
    font-family: 'Archivo Narrow' !important;
    color: #FFFFFF !important;
    font-weight: 500 !important;
    border-top: 1px solid #3D4D57 !important;
}

#view-deck {
    background-image: none !important;
    background-attachment: none !important;
    background-color: #3A97E4 !important;
}

/*___________________________________________*/
/**/

/*_The CSS I use Follows_*/

/*_General, Mail Tab, And Other Tabs Configuration_*/

/* remove menu and toolbar text shadows */
#mail-toolbox,
.mail-toolbox,
#mail-toolbar-menubar2,
#tabs-toolbar,
#status-bar,
#compose-toolbox,
#ab-toolbox,
#CardViewBox,
#CardTitle,
#tabs-toolbar .tab-text,
#tabs-toolbar .tabmail-tab[selected=true],
#tabs-toolbar .tabmail-tab:not([selected=true]),
#tabs-toolbar::after,
#tabs-toolbar::before {
/*   
    -moz-box-shadow: none !important;
    box-shadow: none !important;
*/
    text-shadow: none !important;
}

#customizemybird_content_box {
    font-size: 11pt !important;
    font-family: 'Arial' !important;
}    

/* This is the menubar */
#mail-toolbar-menubar2 {
    background: rgba(18,104,190,.6)
                  linear-gradient(rgba(170,232,252,.8), rgba(47,141,235,.6) 45%,
                                                      rgba(32,133,234,.5) 50%, rgba(20,114,208,.4)) !important;
    height: 28px !important;
    margin-bottom: 2px !important;
    text-shadow: none !important;
    color: #FFFFFF !important;
    border-top: 2px solid #1571CC !important;
    opacity: .95 !important;
}

/* Remove disabled toolbar buttons until enabled */
toolbarbutton[disabled="true"] {
    display: none !important;
}

#mail-toolbox {	   
    background: rgba(224,224,224,.4)
                  linear-gradient(rgba(170,232,252,.8), rgba(47,141,235,.6) 49%,
                                                      rgba(32,133,234,.6) 51%, rgba(20,114,208,.3)) !important;
    height: 28px !important;
    line-height: 24px !important;
    border: none !important;
    opacity: 1 !important;
}

#mail-toolbox toolbarbutton {
    background: rgba(255,255,255,1.0)
                  linear-gradient(rgba(255,255,255,.95), rgba(252,250,248,.8), rgba(0,0,0,.05),
                                                       rgba(0,0,0,.15), rgba(0,0,0,.25), rgba(0,0,0,.4)) !important;
    border: none !important;
    color: #12298E !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    font-family: 'Archivo Narrow' !important;
}

#mail-toolbox toolbarbutton:hover {
    color: #BC0030 !important;
    background: rgba(255,255,255,1.0)
                  linear-gradient(rgba(255,255,255,.95), rgba(254,252,250,.8), rgba(0,0,0,.05),
                                                       rgba(0,0,0,.1), rgba(0,0,0,.2), rgba(0,0,0,.3)) !important;
}

#tabs-toolbar {	   
/*   background-color: #2D86DF !important;  */
    background: linear-gradient(rgba(0, 0, 99, .2), rgba(0, 0, 99, .3)) !important;
    height: 32px !important;
    padding-top: 7px !important;
    margin-top: -1px !important;
    text-shadow: none !important;
    color: black !important;
}

#tabs-toolbar .tabmail-tab[selected=true] { 
    font-size: 100% !important;
    font-weight: 600 !important;
    color: black !important;
    text-decoration: underline solid #000000 !important;
    background-color: #07B8F3  !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    border-radius: 9px 9px 0px 0px !important;
    border: 1px solid #759AB3 !important;
    border-bottom: 0px solid transparent !important;
    text-shadow: none !important;
    opacity: 1 !important;
} 

#tabs-toolbar .tabmail-tab[selected=true]:hover {
    color: #BC0030 !important;
    text-decoration: underline solid #BC0030 !important;
    text-shadow: none !important;
}     

#tabs-toolbar .tabmail-tab:not([selected=true]) { 
    color: #FFFFFF !important;
    font-weight: 500 !important;
    background: rgba(74,99,116,.4)
                  linear-gradient(rgba(202,214,222,.9), rgba(150,173,188,.6) 33%,
                                                      rgba(112,143,164,.5) 50%, rgba(74,99,116,.6)) !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    border-radius: 9px 9px 0px 0px !important;
    border: 1px solid #2D6799 !important;
    border-bottom: 0px solid transparent !important;
    text-shadow: none !important;
    opacity: .9 !important;
} 

#tabs-toolbar .tabmail-tab:not([selected=true]):hover {
    background: rgba(131,220,249,.9)
                  linear-gradient(rgba(238,240,242,.95), rgba(131,220,249,.8) 36%,
                                                      rgba(87,207,247,.7) 53%, rgba(20,188,244,.6)) !important;
    color: #000000 !important;;
    font-weight: 500 !important;
    text-shadow: none !important;
    opacity: 1 !important;
 }

#tabs-toolbar .tab-text {
    -moz-box-shadow: none !important;
    text-shadow: none !important;
    opacity: 1 !important;
}    

#quick-filter-bar-main-bar {
    background-color: #4C9DE5 !important;
    color: #FFFFFF !important;
    height: 30px !important;
    background-image: none !important;
    background-attachment: none !important;
    background: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
           url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/QFBBackground3.png") !important;
    margin-left: 0px !important;
    border: none !important;
    font-size: 11pt !important;
    font-family: 'Archivo Narrow' !important;
}

#quick-filter-bar-main-bar .textbox-input-box {
    background-color: #4C9DE5 !important;
    background-image: none !important;
    background-attachment: none !important;
    background: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
           url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/QFBBackground3.png") !important;
    color: #FFFFFF !important;
    border: none !important;
    font-size: 11pt !important;
    font-family: 'Archivo Narrow' !important;
}

#qfb-qs-textbox {
    background-color: #4C9DE5 !important;
    background-image: none !important;
    background-attachment: none !important;
    background: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
           url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/QFBBackground3.png") !important;
    color: #FFFFFF !important;
    border: none !important;
    font-size: 11pt !important;
    font-family: 'Archivo Narrow' !important;
}

#quick-filter-bar-main-bar .textbox-input:hover {
    background-color: #FFFFFF !important;
    color: #0725EB !important;
    border: none !important;
    font-size: 11pt !important;
    font-family: 'Archivo Narrow' !important;
}

#quick-filter-bar-main-bar .textbox-search-clear {
    background-color: #FFFFFF !important;
    color: #000000 !important;
    margin-left: 4px !important;
    border-top: 2px solid #FFFFFF !important;
    border-left: 2px solid #FFFFFF !important;
    border-right: 2px solid #D8EFFE !important;
    border-bottom: 2px solid #D8EFFE !important;
}

#qfb-results-label {
    color: #FFFF00 !important;
}

#quick-filter-bar-filter-text-bar {
    background-color: #4C9DE5 !important;
    background-image: none !important;
    background-attachment: none !important;
    background: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
           url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/QFBBackground3.png") !important;
    color: #FFFFFF !important;
    border: none !important;
    font-size: 11pt !important;
    font-family: 'Archivo Narrow' !important;
}

#quick-filter-bar-filter-text-bar > #qfb-qs-sender[checked="true"], #qfb-qs-recipients[checked="true"], #qfb-qs-subject[checked="true"], #qfb-qs-body[checked="true"] {
    color: #BC0030 !important;
    background: rgba(228, 241, 252,.8)
                  linear-gradient(rgba(253,254,255,.8), rgba(243,244,245,.8),
                                                      rgba(213,216,217,.6), rgba(193,194,195,.6)) !important;
    text-shadow: none !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    font-family: 'Archivo Narrow' !important;
    border-top: 2px solid #000000 !important;
    border-left: 2px solid #000000 !important;
    border-right: 1px solid #FFFFFF !important;
    border-bottom: 1px solid #FFFFFF !important;
}

#quick-filter-bar-filter-text-bar > #qfb-qs-sender:not([checked="true"]), #qfb-qs-recipients:not([checked="true"]), #qfb-qs-subject:not([checked="true"]), #qfb-qs-body:not([checked="true"]) {
    color: #12298E !important;
    background: rgba(228, 241, 252,.8)
                  linear-gradient(rgba(253,254,255,.8), rgba(243,244,245,.8),
                                                      rgba(213,216,217,.6), rgba(193,194,195,.6)) !important;
    text-shadow: none !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    font-family: 'Archivo Narrow' !important;
    border-top: 1px solid #FFFFFF !important;
    border-left: 1px solid #FFFFFF !important;
    border-right: 2px solid #000000 !important;
    border-bottom: 2px solid #000000 !important;
}

#quick-filter-bar-filter-text-bar > #qfb-qs-sender:hover, #qfb-qs-recipients:hover, #qfb-qs-subject:hover, #qfb-qs-body:hover {
    background: #FFFFFF !important;
}

/* _Mail Folder Tree And Email Thread Tree_ */

#threadTree treechildren::-moz-tree-row(odd) { 
    background-color: #E7F7FE !important; 
    border: none !important;
} 

#threadTree treechildren::-moz-tree-row(even) { 
    background-color: #F9FEFF !important; 
    border: none !important;
} 

#threadTree treechildren::-moz-tree-row(hover) { 
    background-color: #AEDDFC !important;
    background: rgba(229, 227, 225, 1.0)
                  linear-gradient(rgba(255,255,255,.6), rgba(252,252,252,.3), transparent,
                                                       rgba(0,0,0,.05), rgba(0,0,0,.1), rgba(0,0,0,.15)) !important;
    border: none !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    border-radius: 12px 12px 12px 12px !important;
} 

#threadTree treechildren::-moz-tree-row(selected) { 
    background-color: #FFD0F8 !important; 
    background: rgba(255,208,248,1.0)
                  linear-gradient(rgba(255,255,255,.5), rgba(250,250,250,.4),
                                                      transparent, rgba(0,0,0,.06), rgba(0,0,0,.1)) !important;
    border: none !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    border-radius: 12px 12px 12px 12px !important;
} 

#threadTree treechildren::-moz-tree-row(selected, focus) { 
    background-color: highlight !important; 
    background: highlight
                  linear-gradient(rgba(255,255,255,.5), rgba(250,250,250,.4),
                                                      transparent, rgba(0,0,0,.06), rgba(0,0,0,.1)) !important;
    border: none !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    border-radius: 12px 12px 12px 12px !important;
} 

#threadTree treechildren::-moz-tree-row { 
    height: 22px !important; 
    padding-top: 1px !important;
    border: none !important;
    margin-left: 6px !important;
    margin-right: 4px !important;
} 

#threadTree { 
    margin-left: 2px !important;
    margin-right: 4px !important;
    border: none !important;
    border-top: 3px solid #4C9DE5 !important;
}

#folderTree { 
    background-color: #4C9DE5 !important; 
    background-image: none !important;
    background-attachment: none !important;
    background: linear-gradient(rgba(17, 90, 169, .6), rgba(14, 73, 136, .6)),
           url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/FolderTreeBackground4.png") !important;
    color: #FFFFFF !important; 
    font-weight: 400 !important;
    border: none !important;
    margin-top: 0px !important;
    border: none !important;
} 

#folderPaneBox {
    background-color: #154488 !important; 
}

#folderTree > treechildren::-moz-tree-row(hover) { 
    background-color: #2B81D9 !important;
    background: rgba(18,104,190,.8)
                  linear-gradient(rgba(170,232,252,.8), rgba(47,141,235,.7) 49%,
                                                      rgba(32,133,234,.6) 51%, rgba(20,114,208,.5)) !important;
    border: none !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    border-radius: 12px 12px 12px 12px !important;
} 

#folderTree > treechildren::-moz-tree-row(selected) { 
/*    background: #F0EFEE !important; */
    background: rgba(239, 237, 235, 1.0)
                  linear-gradient(rgba(255,255,255,.8), rgba(250,248,246,.6), transparent, 
                                                       rgba(0,0,0,.1), rgba(0,0,0,.2), rgba(0,0,0,.3)) !important;
    border: none !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    border-radius: 12px 12px 12px 12px !important;
}

#folderTree > treechildren::-moz-tree-row(selected, focus) { 
    background-color: highlight !important; 
    background: highlight
                  linear-gradient(rgba(255,255,255,.5), rgba(250,250,250,.4),
                                                      transparent, rgba(0,0,0,.06), rgba(0,0,0,.1)) !important;
    border: none !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    border-radius: 12px 12px 12px 12px !important;
}

#folderTree > treechildren::-moz-tree-row {
    height: 22px !important; 
    padding-top: 1px !important;
    border: none !important;
} 

treechildren::-moz-tree-twisty {
    padding-inline-end: 5px !important;
    padding-inline-start: 5px !important;
    margin-top: 5px !important;
    margin-bottom: 4px !important;
    margin-right: 8px !important;
    margin-left: 4px !important;
    border-top: 1px solid #FFFFFF !important;
    border-left: 1px solid #FFFFFF !important;
    border-right: 2px solid #000000 !important;
    border-bottom: 2px solid #000000 !important;
    border-radius: 0px 0px 0px 0px !important;
/*    background-color: #D8EFFE !important;  */
    background-color: #D4F3FE !important;
}

treechildren::-moz-tree-image(folderNameCol) {
    background-image: none !important;
    background-attachment: none !important;
    background-image: url(file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/SunIcon5.png) !important;
    background-size: 30% 30% !important;
    background-position: left center !important;
    background-repeat: no-repeat !important;
    opacity: 0 !important;
    border: none !important;
}

#threadpane-splitter {
    background-color: #4C9DE5 !important; 
    color: #4C9DE5 !important; 
    border: none !important;
}

#folderpane_splitter {
    background-color: #4C9DE5 !important; 
    color: #4C9DE5 !important; 
    max-width: 2px !important;
    border: none !important;
/*  Remove Following Line If Resizing Folderpane Is Needed */
    visibility: hidden !important;
}

#attachment-splitter {
    background-color: #4C9DE5 !important; 
    color: #4C9DE5 !important; 
    display: none !important;
    border: none !important;
}

/*_Message Content Pane Items_*/

#msgHeaderView {
    background-color: #D8EFFE !important; 
    background-image: none !important;
    background-attachment: none !important;
    background: linear-gradient(rgba(241,248,255,.8), rgba(224,238,252,.7), rgba(187,218,248,.6),
              rgba(135,189,243,.6), rgba(115,178,241,.6)),
                   url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/Stone G.bmp") !important;
    color: #12298E !important;
    border: none !important;
    border-top: 3px solid #4C9DE5 !important;
}

/*_Write Message Window Tweaks_*/

#compose-toolbox {
    text-shadow: none !important;    
    color: #F6F7F8 !important;
    font-weight: 590 !important;
    padding-top: 2px !important;
    background: rgba(18,104,190,.6)
                  linear-gradient(rgba(170,232,252,.8), rgba(47,141,235,.6) 45%,
                                                      rgba(32,133,234,.5) 50%, rgba(20,114,208,.4)) !important;
    opacity: .9 !important;
}

#compose-toolbox toolbarbutton {
    text-shadow: none !important;    
    color: #12298E !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    font-family: 'Archivo Narrow' !important;
    background: rgba(255,255,255,.95)
                  linear-gradient(rgba(253,254,255,.8), rgba(243,244,245,.8),
                                                      rgba(213,216,217,.6), rgba(193,194,195,.6)) !important;
    border-top: 1px solid #FFFFFF !important;
    border-left: 1px solid #FFFFFF !important;
    border-right: 1px solid #000000 !important;
    border-bottom: 1px solid #000000 !important;
}

#compose-toolbox toolbarbutton:hover {
    background: #FFFFFF !important;
    color: #BC0030 !important;
}

#boldButton .toolbarbutton-icon {
  -moz-image-region: rect(0px, 36px, 36px, 0px) !important;
}
#italicButton .toolbarbutton-icon {
  -moz-image-region: rect(0px, 72px, 36px, 36px) !important;
}
#underlineButton .toolbarbutton-icon {
  -moz-image-region: rect(0px, 108px, 36px, 72px) !important;
}

:-moz-any(#boldButton,#italicButton,#underlineButton) .toolbarbutton-icon {
  list-style-image: url(file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/BUI_Blue2.png) !important;
  width: 14px !important;
  height: 14px !important;
}

/*_Search Box Tweaks_*/

.searchBox .textbox-input-box {
    font-size: 11pt !important;
    font-family: 'Archivo Narrow' !important;
    color: #072AFF !important;
}

.searchBox[focused="true"] {
    background-color: #FFFFFF !important;
    color: #072AFF !important;
}

.searchBox:not([focused="true"]) {
    background-color: #DADDE0 !important;
    color: #072AFF !important;
}

.searchBox:hover {
    background-color: #FFFFFF !important;
    color: #072AFF !important;
}

#peopleSearchInput {
    background-image: none !important;
    background-attachment: none !important;
    background: linear-gradient(rgba(150, 211, 243, .9), rgba(98, 170, 233, .75), rgba(62, 142, 225, .6)),
           url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/QFBBackground3.png") !important;
    font-size: 11pt !important;
    font-family: 'Archivo Narrow' !important;
    border: none !important;
}

#peopleSearchInput .textbox-input-box:hover {
    background-color: #84C3EF !important;
    color: #0725EB !important;
    border: none !important;
    font-size: 11pt !important;
    font-family: 'Archivo Narrow' !important;
}

#peopleSearchInput .textbox-search-clear {
    background-color: #FFFFFF !important;
    color: #000000 !important;
    border-top: 2px solid #FFFFFF !important;
    border-left: 2px solid #FFFFFF !important;
    border-right: 2px solid #D8EFFE !important;
    border-bottom: 2px solid #D8EFFE !important;
}

/*_Calendar Tweaks_*/

#calendar-toolbox {	   
    background: rgba(224,224,224,.4)
                  linear-gradient(rgba(170,232,252,.8), rgba(47,141,235,.6) 49%,
                                                      rgba(32,133,234,.6) 51%, rgba(20,114,208,.3)) !important;
    color: #12298E !important;
    font-weight: 600 !important;
    height: 28px !important;
    line-height: 24px !important;
}

#calendar-toolbox toolbarbutton {
    background: rgba(255,255,255,1.0)
                  linear-gradient(rgba(255,255,255,.95), rgba(252,250,248,.8), rgba(0,0,0,.05),
                                                       rgba(0,0,0,.15), rgba(0,0,0,.25), rgba(0,0,0,.4)) !important;
    border: none !important;
}

#calendar-toolbox toolbarbutton:hover {
    color: #BC0030 !important;
    background: rgba(255,255,255,1.0)
                  linear-gradient(rgba(255,255,255,.95), rgba(254,252,250,.8), rgba(0,0,0,.05),
                                                       rgba(0,0,0,.1), rgba(0,0,0,.2), rgba(0,0,0,.3)) !important;
}

#calsidebar_splitter {
    border-width: 0px !important;
    width: 2px !important;
    background-color: #FEF6E2 !important;
    padding-left: 4px !important;
}

.reminder-icon {
    fill: #0000FF !important;
}

#button-save, #saveandcloseButton,
#button-saveandclose, #acceptButton {
    fill: darkgreen !important;
}

#deleteButton, #declineButton,
#button-delete.cal-event-toolbarbutton {
    fill: #BC0030 !important;
}

#button-attendees {
    fill: #2085EA !important;
}

#button-privacy {
    fill: #FF00FF !important;
}

#button-attach {
    fill: #FFA400 !important;
}

calendar-list-tree > tree > treechildren {
/*   background-color: #FEF6E2 !important;  */

/*    background: linear-gradient(rgba(249, 207, 207, .8), rgba(249, 207, 207, .6), rgba(249, 207, 207, .5)),  */
    background-image: none !important;
    background-attachment: none !important;
    background: linear-gradient(rgba(254, 246, 226, .9), rgba(253, 238, 201, .8), rgba(253, 238, 201, .7)),
           url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/CalendarBackground.png") !important;

    color: #12298E !important; 
}

#calendar-panel {
    background-color: #FBD06B !important;
}

#ltnSidebar {
    background-color: #FEF6E2 !important;
}

calendar-day-label {
    background-color: #FED4D4 !important;
    color: #0000D0 !important;
    line-height: 30px !important;
    padding-top: 2px !important;
    font-size: 11pt !important;
    font-family: 'Archivo Narrow' !important;
}

.calendar-day-label-name[relation="today"],
.calendar-day-label-name[relation="today1day"] {
    color: #0000FF !Important;
    background: rgba(255,255,255,0.9)
                  linear-gradient(rgba(252,253,254,.9), rgba(243,244,245,.7),
                                                      rgba(213,216,217,.7), rgba(193,194,195,.6)) !important;
    border-top: 0px solid white !important;
    border-bottom: 0px solid #C1C2C3 !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    line-height: 30px !important;
    padding-top: 1px !important;
}

/*
.calendar-event-column-linebox[off-time="true"] {
    background-color: #A5BFE7 !important;
}
*/

window {
    --viewColor: #000000 !important;
/*    --viewBackground: #C8D8F0 !important; */
    --viewBackground: #E6EAE4 !important;
    --viewBorderColor: #6E86B0 !important;
    --viewTodayBorderColor: #6E86B0 !important;
    --viewTodayBackground: #FEE2E2 !important;
    --viewTodayOffBackground: #FFC0C0 !important; 
    --viewDayBoxOffSelectedBackground: #FCF49C !important;
/*    --viewOffTimeBackground: #A5BFE7 !important; */
    --viewOffTimeBackground: #D0D8CB !important;
    --viewTimeBoxColor: #3D4D57 !important;
}

.calendar-time-bar-box-odd,
.calendar-time-bar-box-even {
    font-size: 14px !important;
    font-family: 'Archivo Narrow' !important;
    font-weight: 600 !important;
    background-color: #FDD06C !important;
    border-top: 1px solid #3D4D57 !important;
}

#view-deck {
    background-color: #FDD06C !important;
}

.calendar-event-details,
.calendar-event-details-core.title-desc,
.calendar-event-details-core.location-desc {
    text-shadow: none !important;
    font-family: 'Archivo Narrow' !important;
    font-size: 14px !important;
    color: #000000 !important;
    font-weight: 400 !important;
}

/*
tab[calview] {
    background-color: red !important;
}
*/

/*
tab[calview][selected="true"] {
    background-color: red !important;
}
*/

#today-pane-panel > sidebarheader {
    background-color: #FBD06B !important;
    color: #12298E !important;
    font-weight: 600 !important;
}

.today-subpane {
    background-color: #EDEDED !important;
    background-image: none !important;
    background-attachment: none !important;
    background: linear-gradient(to right, rgba(255, 255, 0, .2), rgba(69, 177, 249, .2)),
           url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/Stone G.bmp") !important;
    color: #12298E !important;
}

.today-subpane .miniday-nav-buttons {
    background-color: #EDEDED !important;
    background-image: none !important;
    background-attachment: none !important;
    background: linear-gradient(to right, rgba(255, 255, 0, .2), rgba(69, 177, 249, .2)),
           url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/Stone G.bmp") !important;
    color: #12298E !important;
}

.today-subpane .miniday-nav-buttons:hover {
    background: #FFFFFF !important;
    color: #0000FF !important;
}

#miniday-dropdown-button {
    background-color: #EDEDED !important;
    background-image: none !important;
    background-attachment: none !important;
    background: linear-gradient(to right, rgba(255, 255, 0, .2), rgba(69, 177, 249, .2)),
           url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/Stone G.bmp") !important;
    color: #12298E !important;
}

#miniday-dropdown-button:hover {
    background: #FFFFFF !important;
    color: #0000FF !important;
}

#agenda-toolbar {
    background-color: #EDEDED !important;
    background-image: none !important;
    background-attachment: none !important;
    background: linear-gradient(to right, rgba(255, 255, 0, .2), rgba(69, 177, 249, .3)),
           url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/Stone G.bmp") !important;
    margin-top: -2px !important;
    margin-bottom: -2px !important;
}

#todaypane-new-event-button {
    background-color: #FBD06B !important;
    background-image: none !important;
    background-attachment: none !important;
    background: linear-gradient(to right, rgba(255, 255, 0, .2), rgba(69, 177, 249, .3)),
           url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/Stone G.bmp") !important;
    color: #12298E !important;
    font-weight: 600 !important;
    border-top: 1px solid #FFFFFF !important;
    border-left: 1px solid #FFFFFF !important;
    border-right: 1px solid #000000 !important;
    border-bottom: 1px solid #000000 !important;
}

#todaypane-new-event-button:hover {
    background: #FFFFFF !important;
    color: #0000FF !important;
}

minimonth, #calMinimonth, #today-Minimonth {
    background-color: #FBD06B !important;
    border-top: 2px solid #FEF6E2 !important;
    border-left: 2px solid #FEF6E2 !important;
    border-right: 2px solid #D7971B !important;
    border-bottom: 2px solid #D7971B !important;
    font-size: 14px !important;
    font-family: 'Archivo Narrow' !important;
}

#calMinimonthBox, #today-minimonth-box {
    color: #12298E !important;
    font-size: 14px !important;
    font-family: 'Archivo Narrow' !important;
    border: none !important;
}

.minimonth-nav-btns {
    min-height: 21px !important;
}

timepicker, timepicker-grids, timepicker-minute, timepicker-hour  {
    font-size: 14px !important;
    font-family: 'Archivo Narrow' !important;
}

#calendar-nav-control {
    background: rgba(252,187,57,1)
                  linear-gradient(rgba(253,232,191,.9), rgba(248,203,114,.6),
                                                      rgba(0,0,0,.1), rgba(0,0,0,.15), rgba(0,0,0,.2)) !important;
    border: none !important;
}

#calendar-nav-control .view-header {
    text-shadow: none !important;
    color: #000000 !important;
    font-size: 16px !important;
    font-family: 'Archivo Narrow' !important;
    font-weight: 700 !important;
    border: none !important;
}

.view-header {
    text-shadow: none !important;
    color: #000000 !important;
    border: none !important;
    font-weight: 600 !important;
}

.navigation-inner-box > hbox {
    background-color: #EDEDED !important;
}

.today-navigation-button {
    background-color: #EDEDED !important;
    color: #12298E !important; 
    font-weight: 600 !important;
    border-top: 1px solid #FFFFFF !important;
    border-left: 1px solid #FFFFFF !important;
    border-right: 1px solid #000000 !important;
    border-bottom: 1px solid #000000 !important;
}

.today-navigation-button:hover {
    background-color: #FFFFFF !important;
    color: #12298E !important; 
    font-weight: 600 !important;
}

.view-navigation-button {
    background-color: #EDEDED !important;
    color: #12298E !important;
    border-top: 1px solid #FFFFFF !important;
    border-left: 1px solid #FFFFFF !important;
    border-right: 1px solid #000000 !important;
    border-bottom: 1px solid #000000 !important;
}

.view-navigation-button:hover {
    background-color: #FFFFFF !important;
}

.navigation-bottombox {
    background-color: #EDEDED !important;
}

#calendar-view-box {
    background-color: #FBD06B !important;
    color: #000000 !important; 
    border-top: 2px solid #FFFFFF !important;
    border-left: 2px solid #FFFFFF !important;
    border-right: 2px solid #000000 !important;
    border-bottom: 2px solid #000000 !important;
    font-size: 14px !important;
    font-family: 'Archivo Narrow' !important;
}

/* Background Around MiniCalendar On Left */
/*  modevbox {
    background-color: red !important;
}
*/

modehbox {
    background-color: #FBD06B !important;
    color: #12298E !important;
    border-top: 1px solid #FFFFFF !important;
    border-left: 1px solid #FFFFFF !important;
    border-right: 1px solid #000000 !important;
    border-bottom: 1px solid #000000 !important;
}

modehbox:hover {
    background-color: #FFFFFF !important;
    color: #12298E !important;
}

toolbarbutton[todaypane="true"] {
    background-color: #E2F0FE !important;
    color: #12298E !important;
    font-weight: 600 !important;
}

minimonth-header {
    background-color: #FEF6E2 !important;
    color: #12298E !important;
}

minimonth-header toolbarbutton {
    background-color: #FEF6E2 !important;
    color: #12298E !important;
    border-top: 1px solid #FFFFFF !important;
    border-left: 1px solid #FFFFFF !important;
    border-right: 1px solid #000000 !important;
    border-bottom: 1px solid #000000 !important;
}

minimonth-header toolbarbutton:hover {
    background-color: #FFFFFF !important;
}

.minimonth-row-body .minimonth-day[selected="true"] {
    background-color: #FFFCD8 !important;
    font-weight: 600 !important;
    border: 1px solid #000000 !important;
}

.minimonth-row-body .minimonth-day:not([othermonth="true"]) {
    color: #12298E !important;
}

.minimonth-row-body .minimonth-day[today="true"] {
    background-color: #FEE2E2 !important;
    color: #000000 !important;
    font-weight: 600 !important;
    border: 1px solid #BC0030 !important;
}

.minimonth-row-body .minimonth-day[othermonth="true"] {
    background-color: #D0D8CB !important;
    color: #12298E !important;
}

.minimonth-row-body .minimonth-day:hover {
    background-color: #BC0030 !important;
    color: #FFFFFF !important;
}

.today-subpane toolbarbutton {
    background-color: #E0E0E0 !important;
    color: #12298E !important;
    border-top: 1px solid #FFFFFF !important;
    border-left: 1px solid #FFFFFF !important;
    border-right: 1px solid #000000 !important;
    border-bottom: 1px solid #000000 !important;
}

.today-subpane toolbarbutton:hover {
    background-color: #FFFFFF !important;
}

calendar-list-tree {
    background-color: #FEF6E2 !important;
    border-top: 1px solid #000000 !important;
    border-bottom: 1px solid #000000 !important;
}

/*
#bottom-events-box {
    background-color: red !important;
}
*/

/*
#unifinder-searchBox {
    background-color: red !important;
}
*/

.unifinder-closebutton {
    border-top: 1px solid #FFFFFF !important;
    border-left: 1px solid #FFFFFF !important;
    border-right: 1px solid #000000 !important;
    border-bottom: 1px solid #000000 !important;
}

/*_ Addressbook Tweaks_*/

#ab-toolbox {
    background: rgba(224,224,224,.4)
                  linear-gradient(rgba(170,232,252,.8), rgba(47,141,235,.6) 49%,
                                                      rgba(32,133,234,.6) 51%, rgba(20,114,208,.3)) !important;
    color: #12298E !important;
    font-weight: 600 !important;
    text-shadow: none !important;
    height: 32px !important;
}

#ab-toolbox toolbarbutton {
    background: rgba(255,255,255,1.0)
                  linear-gradient(rgba(255,255,255,.95), rgba(252,250,248,.8), rgba(0,0,0,.05),
                                                       rgba(0,0,0,.15), rgba(0,0,0,.25), rgba(0,0,0,.4)) !important;
    color: #12298E !important;
    border: none !important;
}

#ab-toolbox toolbarbutton:hover {
    color: #BC0030 !important;
    background: rgba(255,255,255,1.0)
                  linear-gradient(rgba(255,255,255,.95), rgba(254,252,250,.8), rgba(0,0,0,.05),
                                                       rgba(0,0,0,.1), rgba(0,0,0,.2), rgba(0,0,0,.3)) !important;
}

/*  Addressbook Contacts Groups - List */
#dirTree {
    background-color: #D0D8CB !important;
    background-image: none !important;
    background-attachment: none !important;
    background:  /*  linear-gradient(rgba(205, 214, 202, .95), rgba(205, 214, 202, .8), rgba(205, 214, 202, .7), rgba(205, 214, 202, .6), rgba(205, 214, 202, .5)),   */
      url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/AddressBookBackground7.png") !important;
}

#dirTree-splitter {
    border-width: 0px !important;
    width: 2px !important;
    background-color: #D0D8CB !important;
}

#CardViewBox {
    background-color: #E6EAE4 !important;
    text-shadow: none !important;
    color: #12298E !important;
    font-weight: 400 !important;
}

/*
#abResultsTree {
    color: red !important;
}
*/

#abResultsTree > treechildren::-moz-tree-row(selected) {
    background-color: #FFD0F8 !important; 
    background: rgba(255,208,248,1.0)
                  linear-gradient(rgba(255,255,255,.5), rgba(250,250,250,.4),
                                                      transparent, rgba(0,0,0,.06), rgba(0,0,0,.1)) !important;
}

#abResultsTree > treechildren::-moz-tree-row(selected, focus) {
    background-color: highlight !important; 
    background: highlight
                  linear-gradient(rgba(255,255,255,.5), rgba(250,250,250,.4),
                                                      transparent, rgba(0,0,0,.06), rgba(0,0,0,.1)) !important;
}

#CardTitle {
    background: rgba(18,104,190,.8)
                  linear-gradient(rgba(170,232,252,.8), rgba(47,141,235,.7) 49%,
                                                      rgba(32,133,234,.6) 51%, rgba(20,114,208,.5)) !important;
    text-shadow: none !important;
    height: 28px !important;
    line-height: 25px !important;
    padding-left: 10px !important;
    text-shadow: none !important;
    font-family: 'Century Gothic' !important;
    font-size: 12pt !important;
    color: #FFFFFF !important;
    font-weight: 600 !important;
    border-bottom: none !important;
    margin-top: -2px !important;
    margin-left: -8px !important;
    margin-right: -8px !important;
}

/*_Hide Scrollbars Only On Email Tab_*/

#folderTree scrollbar { 
    -moz-appearance: none !important;
    width: 0px !important;
    visibility: hidden !important;
} 

#threadTree scrollbar { 
    -moz-appearance: none !important;
    width: 0px !important;
    visibility: hidden !important;
} 

#threadTree treechildren::-moz-tree-row(hover) { 
    margin-right: 0px !important;
} 

#threadTree treechildren::-moz-tree-row(selected) { 
    margin-right: 0px !important;
} 

#threadTree treechildren::-moz-tree-row(selected, focus) { 
    margin-right: 0px !important;
} 

#threadTree treechildren::-moz-tree-row { 
    margin-right: 0px !important;
} 

#threadTree { 
    margin-right: 0px !important;
}

#folderTree > treechildren::-moz-tree-row(hover) { 
    margin-right: 0px !important;
} 

#folderTree > treechildren::-moz-tree-row(selected) { 
    margin-right: 0px !important;
}

#folderTree > treechildren::-moz-tree-row(selected, focus) { 
    margin-right: 0px !important;
}

#folderTree { 
    margin-right: 0px !important;
    border: 0px solid #4C9DE5 !important;
} 

#folderpane_splitter {
    width: 2px !important;
    background-color: #4C9DE5 !important;
    border: none !important;
}

/*_Miscellaneous Button Fills_*/

.message-icon {
    fill: #00FF00 !important;
}

#appmenu_print,
#appmenu_print_popup,
.appmenu-edit-button {
    fill: #0000FF !important;
}

#appmenu_print:hover,
#appmenu_print_popup:hover,
.appmenu-edit-button:hover {
    fill: #FFFFFF !important;
}

#appmenu-cut,
#appmenu-editmenu-cut {
    fill: #BC0030 !important;
}

#appmenu-cut:hover,
#appmenu-editmenu-cut:hover {
    fill: #FFFFFF !important;
}

#appmenu-copy,
#appmenu-editmenu-copy {
    fill: darkgreen !important;
}

#appmenu-copy:hover,
#appmenu-editmenu-copy:hover {
    fill: #FFFFFF !important;
}

#appmenu-paste,
#appmenu-editmenu-paste {
    fill: #0000FF !important;
}

#appmenu-paste:hover,
#appmenu-editmenu-paste:hover {
    fill: #FFFFFF !important;
}

#appmenu-quit {
    fill: #BC0030 !important;
}

#appmenu-quit:hover {
    fill: #FFFFFF !important;
}

#appmenu_addons {
    background-color: #D8EFFE !important;
}

.snooze-popup-ok-button {
    fill: darkgreen !important;
}

.snooze-popup-ok-button:hover {
    fill: white !important;
}

.snooze-popup-cancel-button {
    fill: #BC0030 !important;
}

.snooze-popup-cancel-button:hover {
    fill: white !important;
}

#imipAcceptButton {
    fill: darkgreen !important;
}

#imipTentativeButton, #tentativeButton {
    fill: #FF00FF !important;
}

#imipDeclineButton {
    fill: #BC0030 !important;
}

#imipMoreButton {
    fill: #0044e6 !important;
}

/*
#boldButton, #italicButton, #underlineButton {
    fill: blue !important;
    background-color: red !important;
    opacity: 0 !important;
}
*/

#AbsoluteFontSizeButton, #DecreaseFontSizeButton, #IncreaseFontSizeButton {
    fill: #0044e6 !important;
}

#ulButton, #olButton, #outdentButton, #indentButton, #AlignPopupButton, #InsertPopupButton, #smileButtonMenu {
    fill: #0044e6 !important;
}

/*_Status Bar_*/

#status-bar, .status-bar {
    background: rgba(18,104,190,.8)
                  linear-gradient(rgba(170,232,252,.8), rgba(47,141,235,.7) 49%,
                                                      rgba(32,133,234,.6) 51%, rgba(20,114,208,.5)) !important;
    height: 26px !important;
    text-shadow: none !important;
    color: #FAFBFC !important;
    font-size: 14px !important;
    font-family: 'Roboto Condensed' !important;
    font-weight: 400 !important;
    border: none !important;
}

#calendar-status-todaypane-button {
    background: rgba(255,255,255,1.0)
                  linear-gradient(rgba(255,255,255,.95), rgba(252,250,248,.8), rgba(0,0,0,.05),
                                                       rgba(0,0,0,.15), rgba(0,0,0,.25), rgba(0,0,0,.4)) !important;
    color: #12298E !important;
    font-size: 14px !important;
    font-family: 'Roboto Condensed' !important;
    font-weight: 600 !important;
}

#calendar-status-todaypane-button:hover {
    color: #BC0030 !important;
    background: rgba(255,255,255,1.0)
                  linear-gradient(rgba(255,255,255,.95), rgba(254,252,250,.8), rgba(0,0,0,.05),
                                                       rgba(0,0,0,.1), rgba(0,0,0,.2), rgba(0,0,0,.3)) !important;
}

/*_UI Font Choices_*/

menu { 
    font-family: 'Archivo Narrow' !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

menulist, menuitem { 
    font-family: 'Archivo Narrow' !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

#folderTree > treechildren {
    font-size: 14px !important;
    font-family: 'Archivo Narrow' !important;
}

#threadTree > treechildren {
    font-size: 14px !important;
    font-family: 'Archivo Narrow' !important;
}

#tabs-toolbar .tab-text {
    font-size: 11pt !important;
    font-family: 'Archivo Narrow' !important;
}

#calendar-toolbox {
    font-size: 14px !important;
    font-family: 'Roboto Condensed' !important;
}

#calendar-view-box #event-filter-menulist {	   
    font-size: 14px !important;
    font-family: 'Arial Narrow' !important;
}

#calendar-alarm-dialog,
#calendar-event-dialog,
#event-grid-columns,
#event-grid-rows {
    font-size: 14px !important;
    font-family: 'Archivo Narrow' !important;
}

#calendar-view-box #unifinder-searchBox {	   
    font-size: 11pt !important;
    font-family: 'Archivo Narrow' !important;
}

#calendar-view-box #unifinder-search-results-tree { 	   
    font-size: 11pt !important;
    font-family: 'Archivo Narrow' !important;
}

#ab-toolbox toolbarbutton {
    font-size: 14px !important;
    font-family: 'Roboto Condensed' !important;
}

#dirTree > treechildren {
    font-size: 14px !important;
    font-family: 'Roboto Condensed' !important;
}

#abResultsTree  > treechildren {
    font-size: 11pt !important;
    font-family: 'Archivo Narrow' !important;
}

#abResultsTreeCols {
    font-size: 11pt !important;
    font-family: 'Archivo Narrow' !important;
}

#CardViewBox { 
    font-size: 11pt !important;
    font-family: 'Archivo Narrow' !important;
}

#msgHeaderView {
    font-size: 11pt !important;
    font-family: 'Roboto Condensed' !important;
}

#msgHeaderView .headerName {
    color: #12298E !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    font-family: 'Roboto Condensed' !important;
}

#msgHeaderView #expandedtagsBox .blc-FF0000 {
    color: white !important;
}

#msgHeaderView #expandedtagsBox .blc-3333FF {
    color: white !important;
}

#agenda-listbox {	   
    background-color: #D8EFFE !important;
    background-image: none !important;
    background-attachment: none !important;
    background: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .3)),
           url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/FolderTreeBackground3.png") !important;
    color: #FFFFFF !important;
    font-size: 14px !important;
    font-family: 'Roboto Condensed' !important;
}

#agenda-listbox > #today-header, #tomorrow-header, #nextweek-header {
    background-color: #FEF6E2 !important;
    background-image: none !important;
    background-attachment: none !important;
    background: linear-gradient(to right, rgba(255, 255, 0, .2), rgba(69, 177, 249, .3)),
           url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/Stone G.bmp") !important;
    color: #12298E !important;
    text-decoration: underline !important;
}

#agenda-listbox > .agenda-container-box {	   
    background: transparent !important;
    font-size: 14px !important;
    font-family: 'Roboto Condensed' !important;
}

/* This sets ALL mail folders to white including the [Gmail] Folder */
#folderTree > treechildren::-moz-tree-cell-text {
  color: #FFFFFF !important;
  font-weight: normal !important;
}

/* Style Folder Tree Account Names with no new mail */
#folderTree > treechildren::-moz-tree-cell-text(isServer-true) {
    color: #FFFFFF !important;
    font-weight: bold !important;
    text-decoration: underline !important;
    font-size: 11pt !important;
    font-family: 'Roboto Condensed' !important;
}

/* Style Folder Tree Account Names with new mail */
#folderTree > treechildren::-moz-tree-cell-text(isServer-true, biffState-NewMail) {
    color: #FFFFFF !important;
    font-weight: bold !important;
    text-decoration: underline !important;
    font-size: 11pt !important;
    font-family: 'Roboto Condensed' !important;
}

#folderTree > treechildren::-moz-tree-cell-text(hasUnreadMessages-true) {
    color: #00FF00 !important;
    font-weight: 600 !important;
}

#folderTree > treechildren::-moz-tree-cell-text(selected) {
    color: #000000 !important;
    font-weight: 600 !important;
}

#folderTree > treechildren::-moz-tree-cell-text(selected, focus) {
    color: #FFFFFF !important;
    font-weight: 600 !important;
}

#folderpane-mode-selector-menulist {
    background-image: none !important;
    background-attachment: none !important;
    background: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
           url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/QFBBackground3.png") !important;
    color: #FFFFFF !important;
    margin-top: -1px !important;
    border: none !important;
}

#threadTree treechildren::-moz-tree-cell-text(selected) {
    font-weight: 500 !important;
}

#threadTree treechildren::-moz-tree-cell-text(selected, focus) {
    font-weight: 500 !important;
}

#addresses-box #identityLabel, #subjectLabel {
    color: #12298E !important;
    font-size: 14px !important;
    font-family: 'Archivo Narrow' !important;
}

#msgheaderstoolbar-box {
    font-size: 14px !important;
    font-family: 'Archivo Narrow' !important;
}

#subject-box #msgSubject {
    color: #000000 !important;
    font-size: 14px !important;
    font-family: 'Archivo Narrow' !important;
}

vbox {
    font-family: 'Archivo Narrow' !important;
}

hbox {
    font-family: 'Archivo Narrow' !important;
}

/*___________________________________________*/

tab.tabmail-tab[label="Calendar"] image.tab-icon-image {
    width: 0 !important;
    padding-right: 16px !important;
    margin-bottom: 1px !important;
    background-image: none !important;
    background-attachment: none !important;
    background-image: url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/Calendar.png") !important;
    }

tab.tabmail-tab[label="CustomizeMyBird"] image.tab-icon-image {
    width: 0 !important;
    padding-right: 16px !important;
    background-image: none !important;
    background-attachment: none !important;
    background-image: url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/CMB16.png") !important;
}

tab.tabmail-tab[label="Address Book"] image.tab-icon-image {
    width: 0 !important;
    padding-right: 16px !important;
    background-image: none !important;
    background-attachment: none !important;
    background-image: url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/AddressBook.png") !important;
}

tab.tabmail-tab[label="Add-ons Manager"] image.tab-icon-image {
    width: 0 !important;
    padding-right: 16px !important;
    background-image: none !important;
    background-attachment: none !important;
    background-image: url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/Administrator.png") !important;
}

/*_Attachment Bar_*/

#attachmentBar {
    background: rgba(18,104,190,.8)
                  linear-gradient(rgba(170,232,252,.8), rgba(47,141,235,.7) 49%,
                                                      rgba(32,133,234,.6) 51%, rgba(20,114,208,.5)) !important;
    height: 26px !important;
    text-shadow: none !important;
    color: #FAFBFC !important;
    font-size: 14px !important;
    font-family: 'Roboto Condensed' !important;
    font-weight: 400 !important;
    border: none !important;
}

#attachmentBar #attachmentSize {
    color: #FAFBFC !important;
    font-size: 14px !important;
    font-family: 'Roboto Condensed' !important;
    font-weight: 400 !important;
}

#attachmentToggle {
    color: #FAFBFC !important;
    display: none !important;
}

#attachmentBar #attachmentSaveAllMultiple, #attachmentSaveAllSingle {
    background: rgba(255,255,255,1.0)
                  linear-gradient(rgba(255,255,255,.95), rgba(252,250,248,.8), rgba(0,0,0,.05),
                                                       rgba(0,0,0,.15), rgba(0,0,0,.25), rgba(0,0,0,.4)) !important;
    color: #12298E !important;
    font-size: 14px !important;
    font-family: 'Roboto Condensed' !important;
    font-weight: 600 !important;
    height: 20px !important;
    margin-right: 4px !important;
    border: none !important;
}

#attachmentBar #attachmentSaveAllMultiple:hover, #attachmentSaveAllSingle:hover {
    background: rgba(255,255,255,1.0)
                  linear-gradient(rgba(255,255,255,.95), rgba(254,252,250,.8), rgba(0,0,0,.05),
                                                       rgba(0,0,0,.1), rgba(0,0,0,.2), rgba(0,0,0,.3)) !important;
    color: #BC0030 !important;
}

/*___________________________________________*/

#threadTree treechildren::-moz-tree-image(attachmentCol) {
    background-image: none !important;
    background-attachment: none !important;
    background-image: url(file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/Paperclip.png) !important;
    background-size: 84% 84% !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    opacity: 0 !important;
    border: none !important;
}

#threadTree treechildren::-moz-tree-image(attachmentCol, selected, focus) {
    background-image: none !important;
    background-attachment: none !important;
    background-image: url(file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/PaperclipW.png) !important;
    background-size: 74% 80% !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    opacity: 0 !important;
    border: none !important;
}

/*___________________________________________*/

.treecol-image, treecol { 
    background-image: none !important;
    background-attachment: none !important;
    background: rgba(175,211,247,1.0)
                  linear-gradient(rgba(253,254,255,.7), rgba(253,254,255,.5),
                                                      transparent, rgba(0,0,0,.1), rgba(0,0,0,.15)) !important;
    color: #12298E !important;
    font-weight: 500 !important;
}

.treecol-image:hover, treecol:hover { 
    background-image: none !important;
    background-attachment: none !important;
    background: rgba(255,208,248,1.0)
                  linear-gradient(rgba(255,255,255,.7), rgba(250,250,250,.5),
                                                      transparent, rgba(0,0,0,.1), rgba(0,0,0,.15)) !important;
}

/*___________________________________________*/

/*_Special Folder Icons_*/
/*_This section must be after the other folderTree css_*/
.tabmail-tab[type="folder"][SpecialFolder="Inbox"] .tab-icon-image, treechildren::-moz-tree-image(folderNameCol, specialFolder-Inbox) {
    opacity: 1 !important;
    background: none !important;
    list-style-image: url("file:///T:/Users/Administrator/AppData/Roaming/Thunderbird/Profiles/6ztqu4q0.AB/extensions/tb_folder_tb3.png") !important;
}

/*___________________________________________*/

